@model printSmart.Models.DetallesServicio

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

<h1>Detalles servicio</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto)|Q. 
            @Html.DisplayFor(model => model.Vproducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vviatico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vviatico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)| Q. 
            @Html.DisplayFor(model => model.Vtiposervicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            Q. 
            @Html.DisplayFor(model=>model.Total)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-info" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index" class="btn btn-warning">Regresar</a>
</div>
</div>