@model IEnumerable<printSmart.Models.PagoDetalle>

@{
    ViewData["Title"] = "Pagos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

<h1>Registro de pagos</h1>

<hr />
<div class="row">
    <div class="container-fluid">
          <div class="card mb-4">
                <div class="card-header">
                     <i class="fas fa-credit-card"></i>
                         Registros de pagos
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Servicio)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Cliente)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Importe)
                                </th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                                @foreach (var item in Model) {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Servicio)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cliente)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Importe)
                                            </td>
                                            <td>
                                                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.IdServicio"><i class="fas fa-print"></i> | Imprimir</a>
                                            </td>
                                        </tr>
                                }
                            </tbody>
                       </table>
                   </div>
           </div>
      </div>
    
</div>
    
</div>