@model printSmart.Models.Costumer

@{
    ViewData["Title"] = "Detalle Cliente";
}


<div id="">
    <main>
        <div class="container-fluid px-4">
            <h2 class="mt-4">Detalle Cliente</h2>
            <hr />
                       
            <!-- Detalles-->
            <div class="card mb-4">
                <div class="card-body">
                   
                     <dl class="row">
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Nit)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Nit)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Address)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Phone)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Phone)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                    </dl>
                    
                    <div>
                        <a asp-action="Edit"  asp-route-id="@Model?.Id" class="btn btn-warning btn-sm text-capitalize">Editar</a>
                        <a asp-action="Index" class="btn btn-secondary btn-sm text-capitalize">Regresar</a>
                    </div>

                </div>
            </div>
        </div>
    </main>
    
</div>
